export const srcPathImgsRoot = "somePath";
export const destPathImgsRoot = "somePath";
export const destPathAllVideoRoot = "somePath";

export const fileShare = "somePath";

export const allCameras = [
  "dirName1",
  "dirName2",
];

export const emailCfg = {
  from: "email_from_address",
  user: "user",
  pass: "password",
  subject: "Photos of the day",
  link: "https://somewhere.usa",
  client: "some_smtp",
  port: 587,
};
